{% for item in cart.items %}
{% if item.product.metafields.custom.gift_wrap_products != blank %}
<div class="drawer{{ item.id }} hidden giftwrapDrawer"> 
<button type="button" onclick="closeAllDrawers()" class="drawer__close">
<h3>
<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow-left" viewBox="0 0 24 24"><path d="M6 12h12.5m0 0-6-6m6 6-6 6" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path></svg>
<span>Back to Bag</span>
</h3>   
<svg style="display:none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-cancel" viewBox="0 0 24 24"><path d="M6.758 17.243 12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
</button>
<div class="upsellText">
{{ settings.drawerText }}
</div>
{% assign allgifts = item.product.metafields.custom.gift_wrap_products.value %}
{% for product in allgifts %}
{% render 'upsell-productnew' upsell_product: product,item:item %}
{% endfor %}  
  
</div>
{% endif %}
{% endfor %}