  <div data-custom="value" 
      data-id="main-Page-23" 
      id="fv-loading-icon" 
      class="mainBodyContainer" 
      data-optimizer="layout" 
      aria-hidden="true"
      role="presentation"
      data-google-vendor="loading-indicator">&#915;</div>
